body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
}

main#board {
    width: 642px;
    height: 642px;
    border: 1px solid #161616;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

div.cell {
    width: 64px;
    height: 64px;
    border: 1px solid #161616;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    background-color: #ccc;
}

span.guns {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

span.player {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.playing {
    border: 3px solid #000;
}

section#interface {
    display: flex;
    justify-content: center;
}